.theme-part-vibrant-borders {
  .node-editor {
    .node {
      border: none !important;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(90deg, #00EFFB, #8649E1, #F900E3);
        z-index: -1;
        margin: -3px;
        border-radius: 11px;
      }
    }
  }
}