$void-color: #333;
$any-color: #f5a;
$value-color: #8fa;
$type-color: #2aa;
$effect-color: #ccc;
$member-color: #8af;
$parameter-color: #a8f;
$actor-color: #fa8;
$module-color: #888;

$identifier-color: #eee;
$bool-color: #a6f;
$float-color: #5df;
$int-color: #6fd;
$nat-color: #58f;

@mixin node-color($name, $color) {
  .node .socket.#{$name} {
    background: $color !important;
  }

  .connection.socket-output-#{$name} .main-path {
    stroke: $color !important;
  }
}

@include node-color("void", $void-color);
@include node-color("category-default", $any-color); // `any` socket could use rainbow colors
@include node-color("category-values", $value-color);
@include node-color("category-types", $type-color);
@include node-color("category-effects", $effect-color);
@include node-color("category-members", $member-color);
@include node-color("category-actors", $actor-color);
@include node-color("category-modules", $module-color);
@include node-color("category-parameters", $parameter-color);

@include node-color("identifier", $identifier-color);
@include node-color("bool", $bool-color);
@include node-color("float", $float-color);
@include node-color("category-integers", $int-color);
@include node-color("category-naturals", $nat-color);

$grid-color: #FFF2;
$grid-size: 32px;
$grid-area: $grid-size * 10000;

.node-editor {
  background: #555;

  .grid {
    display: table;
    z-index: -5;
    position: absolute;
    top: -$grid-area;
    left: -$grid-area;
    width: 2 * $grid-area;
    height: 2 * $grid-area;
    background-size: $grid-size $grid-size;
    background-image: linear-gradient(to right, $grid-color 1px, transparent 1px), linear-gradient(to bottom, $grid-color 1px, transparent 1px);
  }

  .node {
    background: #111A;
    border-color: #111 !important;

    &:hover {
      background: #333;
    }

    &.selected {
      background: #777E !important;
      border-color: #AAA !important;
    }

    input, select {
      background-color: #0002;
      color: white;
      border: 1px solid #AAA;
    }

    .socket {
      background: #444;
      border-color: #222 !important;
      transform: scale(.8);

      &.multiple {
        // Multiple-input sockets should have a different appearance
        border-width: 2px;
      }

      &.reversed {
        // Reversed sockets should look like right-facing triangles/carets
        border-radius: 0;
      }
    }
  }

  .connection .main-path {
    stroke: #333;
    stroke-width: 3px;
  }

  .context-menu {
    font-size: 14px;
    display: inline-block;
    background: #111D;
    z-index: -100;

    .context-menu-action {
      color: #FFF;
      cursor: pointer;
      padding: .25em;

      &:hover {
        background: #0005;
      }

      &.selected {
        background: #0003;
      }
    }

    .context-menu-search {
      color: #FFF;
      background: none;
    }

    .context-menu-search-area {
      min-width: 10em;
      max-height: 25em;
      overflow-y: auto;
    }

    .context-menu-icon {
      margin-right: .25em;
      vertical-align: text-bottom;
      opacity: .8;
    }
  }
}

