@mixin node-color($name, $color) {
  .node .socket.#{$name} {
    background: $color;
  }

  .connection.socket-input-#{$name} .main-path {
    stroke: $color !important;
  }
}

$any-color: #f5a;
$value-color: #8fa;
$type-color: #2aa;
$effect-color: #ccc;
$member-color: #8af;
$actor-color: #fa8;
$module-color: #888;

@include node-color("any", $any-color);
@include node-color("value", $value-color);
@include node-color("type", $type-color);
@include node-color("effect", $effect-color);
@include node-color("member", $member-color);
@include node-color("actor", $actor-color);
@include node-color("module", $module-color);

// TODO: colors for bool, int, string, etc.

.node {
  &.selected {
    background: #AAA !important;
    border-color: #555 !important;
  }

  .socket {
    background: #333;
    border-color: #333;

    &.effect {
      //  Effect sockets should look like right-facing arrows
    }
  }
}

.connection .main-path {
  stroke: #222 !important;
}
