//@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;700');
//$input-font-size-lg: $font-size-base * 2;

//$spacer: 1em;

//$primary: #7D61C8;
//$secondary: #ffffff;
//$light: #f1f1f1;
//$dark: #000000;

$info: #8649E1;

// Bootstrap variable overrides
$font-family-sans-serif: "Silka", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: "Silka Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$headings-font-family: "Archia", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$text-muted: #557080;

//$headings-font-weight: 200;
$btn-font-weight: 500;

$card-border-radius: .5rem;

$font-size-base: 1rem;